<nav></nav>

<main class="wrapper">
  <form action="/">
    <label for="dd">Diâmetro Diastólico</label>
    <input type="text" name="dd" required>
    <label for="ds">Diâmetro Sistólico</label>
    <input type="text" name="ds" required>
    <button type="submit">Calcular</button>
  </form>

  <p>Volume Diastólico: <%= @vd.round(2) %></p>
  <p>Volume Sistólico: <%= @vs.round(2) %></p>
  <p>FEVE: <%= "#{@feve}%" %></p>
</main>
